{% schema %}
{
  "name": "Discover",
  "settings": [],
   "presets": [
    {
      "name": "Discover",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="discover">
  <span>
    <div class="discover-container">
      <div class="discover-title">
        Discover how aligning with your brain chemistry can <a class="discover-sectitle">enhance</a> your health journey
      </div>

      <div class="discover-title discover-title-mob">
        Discover how aligning with your brain chemistry can
        <a class="discover-sectitle">enhance</a> your health journey
      </div>
      <div class="discover-subtitle">With ASPN Health, personalized performance is just the beginning</div>

      <div class="discover-subtitle discover-subtitle-mob">
        With ASPN Health, personalized performance is just the beginning
      </div>
      <button data-modal-open class="discover-button discover-btn light">Join the Waitlist</button>
    </div>
  </span>
</section>
