{% schema %}
{
  "name": "Future Section",
  "settings": [

  ],
  "presets": [
    {
      "name": "Future Section",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}

<section id="future" class="future">
  <div class="future-container">
    <h2 class="future-title">
      The Future of Performance,<br>
      Built Around You
    </h2>

    <div class="future-content">
      <p class="future-text">
        At ASPN, we believe peak performance starts with understanding you. Our cutting-edge NeuralFlex technology
        combines biometrics and personalized insights to create a journey that evolves with you. Every step is designed
        to elevate your physical and mental capabilities—seamlessly and sustainably. Precision. Progress.
        Personalization. Welcome to the next level of you.
      </p>

      <button data-modal-open class="future-button future-btn js-open-modal dark">Join the Waitlist</button>
    </div>
  </div>
</section>

{% render 'lead-modal' %}
