{% schema %}
{
  "name": "Header",
  "settings": [

  ]
}
{% endschema %}

<header class="custom-header">
  <div class="main-header">
    <div class="container">
      <div class="header-logo">
        <img src="{{ 'Logo.png' | asset_url }}" alt="Logo">
      </div>
      <div class="header-nav">
        <p><a href="#guide" class="header-text">How It Works</a></p>
        <p><a href="#future" class="header-text">Features</a></p>
        <p><a href="#choose" class="header-text">Benefits</a></p>
        <p><a href="#questions" class="header-text">FAQ</a></p>
      </div>
      <div class="header-button">
        <a class="header-btn">Join the Whitelist now</a>
      </div>
    </div>
  </div>
</header>
