{% schema %}
{
  "name": "Streamline",
  "settings": [],
  "presets": [
    {
      "name": "Streamline",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="streamline">
  <div class="streamline-container">
    <div class="stream-left">
      <div class="stream-texts">
      <div class="stream-title">
        The Brain <br>
        is The Gateway - <br>
        <a class="stream-titleOther">ASPN is the Key.</a>
      </div>
      <div class="stream-subtitle">Unlock Your Full Potential with ASPN</div>
      <div class="stream-text">
        Tailored to your unique NeuralFlex profile, our<br>
        technology-driven solution helps you reach<br>
        new heights—sustainably and seamlessly
      </div>
      </div>

      <div class="stream-right">
      <div class="stream-imgLeft">
        <img src="{{ 'right-stream.png' | asset_url }}" class="stream-iphone" alt="right">
        <img src="{{ 'stream-iphone-mob.png' | asset_url }}" class="stream-iphone-mob" alt="right">
      </div>
    </div>

       <div class="stream-imgRight">
        <img src="{{ 'left-stream.png' | asset_url }}" class="stream-brain" alt="left">
      </div>
    </div>
  </div>
</section> 


